@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s infinite;
}

select option {
  background-color: #1e1b4b;
  color: white;
}
